/*container*/
.c-container{
    display: block;
    width: 100%;
}
/*header*/
.c-header{
    vertical-align: middle;
    margin-bottom: 20px;
    width: 100%;
    content: '';
}
.c-header:after{
    content: "";
    display: table;
    clear: both;
}
.c-view-btns,
.c-change-view-btns{
    display: inline-block;
}
.c-view-btns{
    float: left;
    width: 80%;
 }
.c-change-view-btns{
    float: right;
    /*width: 20%;*/
}
.c-next-btn,
.c-prev-btn{
    display: inline-block;
    height: 45px;
    width: 30px;
    background: #41a8ea;
    color:white;
    text-decoration: none;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    margin: 0 2px;
}
/*buttons*/
.c-month-btn,
.c-week-btn,
.c-day-btn{
    display:inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    background: #41a8ea;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}
/*Views*/
.c-week-wrap,
.c-month-wrap{
    width: 100%;
}
.c-week-cells-wrap{
    display: block;
    height: 50px;
    width: 100%;

}
.c-cells-wrap{
    display: inline-block;
    float: left;
}
.c-month-cell,
.c-week-cell,
.c-day-cell{
    display: inline-block;
    text-align: center;
    background: #41a8ea;
}
.c-dot{
    display: inline-block;
    text-align: center;
    background: red;
    height: 30px;
    line-height: 30px;
}
.c-month-cell{
    height: 30px;
    line-height: 30px;
}
.c-week-cell{
    margin-left: 2px;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
.c-day-cell{
    width: 40px;
    height: 20px;
    line-height: 20px;
}
.c-month-empty,
.c-week-empty,
.c-day-empty{
    padding-top: 5px;
    height: 55px;
    background: #c1dbf8;
    /*margin-left: 2px;*/
}
/*move and resize targets*/
.c-mobile-elem{
    display:inline-block;
}
.c-move-target{
    display: inline-block;
    width: 80%;
    height: 100%;
    cursor:move;
}
.c-resize-target{
    display: inline-block;
    width: 20%;
    height: 100%;
    cursor:e-resize;
}